.addProductContainer h1{
    font-family: Popppins;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    background-color: #CC0000;
    color: white;
}

.addProductContainer input{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 4px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
}

.addProductContainer button {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 4px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #CC0000;
    color: white;
    outline: none;
}

.addProductContainer button:focus {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 4px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #aa0000;
    color: white;
    outline: none;
}

button:active {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 4px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #CC0000;
    color: white;
    outline: none;
}

.addProductContainer input:focus {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 4px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #dbdbdb;
    color: black;
}

.addProductContainer ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.addProductContainer  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

.addProductContainer  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.addProductContainer table, th, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
    color: black;
}

.addProductContainer table td input{
    width: auto;
}
.addProductContainer table td input:focus{
    width: auto;
}

.message {
    font-size: 1.2em;
    text-align: center;
    color: #36a936;
    width: 50%;
}

.KategorieNazev{
    color: black;
}

.CheckboxKategorie{
    width: auto;
}

.CheckboxKategorie:active{
    width: auto;
}

.CheckboxKategorie:focus{
    width: auto;
}

.Reset{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 4px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #CC0000;
    color: white;
    outline: none;
}