*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    text-transform: uppercase;
}

body{
    background-color: white;
}


h1,h2,h3,h4,h5{
    block: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #CC0000;
    font-family: Poppins;
}

p, div{
    font-family: Poppins;
}

hr{
    border: 0.2vw solid black;
}

.container{
    height: auto;
    width: 1000px;
    margin: 10px auto;
    border: 5px solid black;
    border-radius: 20px;
    overflow: hidden;
    color: black;
    text-align: center;
    user-select: none;
}