.customerOrderCheckoutcontainer{
    height: auto;
    width: 80vw;
    margin: 10vw;
    overflow:hidden;
    border: 1vw solid black;
    border-radius: 3vw ;
    color: white;
    font-weight: bold;
    text-align: center;
}

.customerOrderCheckoutcontainer .chosenOrderList{
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1vw 0vw;
}

.customerOrderCheckoutcontainer .order {
    height: 8vw;
    width: 8vw;
    line-height: 8vw;
    background-color: #CC0000;
    border-radius: 2vw;
    margin: 1vw 0.5vw;
    font-size: 4vw;
    flex-grow: 3;
    display: inline-block;
}
