.customerOrderCheckoutContainer .chosenOrderList{
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 0;
}

.customerOrderCheckoutContainer .order {
    height: 75px;
    width: 75px;
    line-height: 75px;
    background-color: #CC0000;
    border-radius: 20px;
    font-size: 50px;
    display: inline-block;
    color: white;
    margin: 10px;
}

.customerOrderCheckoutContainer .noOrders {
    margin: 1% 0;
    font-size: 25px;
    font-weight: bold;
}