.rozscestnikContainer li {
    block: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #CC0000;
    font-family: Poppins;
    list-style-type: none;
    font-size: 42px;
    background-color: #CC0000;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.rozscestnikContainer a {
    color: white;
    text-decoration: none;
}

.rozscestnikContainer a:visited {
    color: white;
}

.rozscestnikContainer a:hover, li:hover {
    color: white;
    background-color: #aa0000;
}

.rozscestnikContainer a:active, li:active {
    color: white;
    background-color: #CC0000;
}

.rozcestnikLogo{
    width: 900px;
    margin: 40px auto;
    display: block;
}